@use "global" as *;

.about-us__container {
  @include mq("md") {
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-40.6%, -195.9%);
    width: 100%;
    display: flex;
    max-width: rem(840);
  }
}