@use "global" as *;

.about-us__logo {
  display: none;

  @include mq("md") {
    max-width: rem(194);
    position: absolute;
    display: block;
    bottom: 0;
    aspect-ratio: 194/181;
    object-fit: cover;
    right: calc(50% - min(48%, 40rem));
    transform: translateX(50%);
  }
}