@use "global" as *;

.about-us__container {
  @include mq("md") {
    position: relative;
    top: 49.9%;
    left: 50%;
    transform: translate(-40.6%, -394.9%);
    width: 100%;
    display: flex;
    max-width: rem(840);
  }
}