@use "global" as *;

.about-us__text {
  line-height: 1.5;
  font-weight: $regular;
  margin-top: rem(17);
  font-family: "Noto Sans JP", serif;

  @include mq("md") {
    margin-top: rem(0);
    color: $white;
  }
}