@use "global" as *;

.about-us__img {
  position: relative;
  margin-top: rem(52);

  @include mq("md") {
    margin-top: rem(118);
  }
}

// .about-us__img::after {
//     content: "";
//     background-image: url(./assets/images/about-us-logo.svg);
//     width: 194px;
//     height: auto; /* 画像のアスペクト比を保持するため */
//     position: absolute;
//     display: block;
//     bottom: 0;
//     right: calc(50% - min(48%, 40rem));
//   }