@use "global" as *;

.about-us__inner {
  position: relative;
}


.about-us__inner::after {
  @include mq("md") {
      position: absolute;
      content: "";
      background: url(/assets/images/about-us-logo.svg) center center / contain no-repeat;
      width: rem(194);
      height: rem(181);
      right: calc(50% - min(48vw, rem(637)));
      bottom: calc(50% - min(48vw, rem(440)));
  }
}