@use "global" as *;

.about-us__inner.inner {
padding-left: rem(15);
padding-right: rem(15);
margin-left: auto;
margin-right: auto;
padding-top: rem(81);
padding-bottom: rem(74);

@include mq("md") {
  padding-top: rem(135);
  padding-left: rem(25);
  padding-right: rem(25);
  padding-bottom: 0;
  height: 1075px;
}
}

.about-us__inner {
  position: relative;
}

// .about-us__inner::after {
//   @include mq("md") {
//     position: absolute;
//     content: "";
//   }
// }

.about-us__inner::after {
  @include mq("md") {
      position: absolute;
      content: "";
      background: url(/assets/images/about-us-logo.svg) center center / contain no-repeat;
      width: rem(194);
      height: rem(181);
      bottom: 74px;
      right: calc(50% - min(48vw, rem(637)));
  }
}