@use "global" as *;

.about-us__img2 {
  aspect-ratio: 281/186;
  object-fit: cover;
  width: 82%;
  display: block;
  right: 0;
  bottom: 0;
  margin-left: auto;

  @include mq("md") {
    aspect-ratio: 880/581;
    width: 81.45%;
  }
}