@use "global" as *;

.blog-text-line {
  background-color: $green; /* 横線の色 */
  content: "";
  height: rem(1.5); /* 横線の高さ */
  margin-top: rem(3);
  flex-grow: 1;

  @include mq("md") {
    height: rem(1);
    margin-top: rem(3);
  }
}