@use "global" as *;

.blog {
  position: relative;
  }


.blog::after {
  @include mq("md") {
    background-image: url(/assets/images/blog-img1.jpg);
    top: 0;
    left: 0;
    position: absolute;
    content: "";
    height: rem(500);
    width: 100%;
    z-index: -999;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }
}

.blog-section-title {
  text-align: center;
}

.blog__inner {
  position: relative;
}

.blog__inner::before {
  @include mq("md") {
      position: absolute;
      content: "";
      background: url(/assets/images/blog-logo.svg) center center / contain no-repeat;
      width: rem(437);
      height: rem(201);
      bottom: 72.7%;
      left: calc(50% - min(48vw, rem(620)));
  }
}

.blog__inner.inner {
  padding-top: rem(78);
  padding-left: rem(21);
  padding-right: rem(21);
  max-width: rem(600);


  @include mq("md") {
    padding-top: rem(92);
    padding-left: rem(25);
    padding-right: rem(25);
  }
}

.blog-card__item-box {
  padding-top: rem(16);
  padding-left: rem(16);
  padding-right: rem(16);
  padding-bottom: rem(22);
  box-shadow: rem(2) rem(2) rem(10) rgba(0, 0, 0, 0.25);
  margin-top: rem(26);
  // max-width: 333px;
  background-color: $white;

  @include mq("md") {
    margin-top: rem(0);
    padding-bottom: rem(24);
  }
}

.blog-card__item-box:not(:first-child) {
  margin-top: rem(40);

  @include mq("md") {
    margin-top: rem(0);
  }
}

.blog-text-line {
  background-color: $green; /* 横線の色 */
  content: "";
  height: rem(1.5); /* 横線の高さ */
  margin-top: rem(3);
  flex-grow: 1;

  @include mq("md") {
    height: rem(1);
    margin-top: rem(3);
  }
}

.blog__md-none {
  display: none;

  @include mq("md") {
    display: inline-block;
    color: $white;
  }
}

.blog-card__date {
  font-size: rem(12);
  font-weight: $regular;
  line-height: 1.5;
  font-family: Gotu;
}

.blog-card__body {
  margin-top: rem(22);

  @include mq("md") {
    margin-top: rem(20);
  }
}

.blog-card__text {
  font-size: rem(16);
  font-weight: $medium;
  line-height: 1.5;
  font-family: Noto Sans JP;
  margin-top: rem(-3);

  @include mq("md") {
    margin-top: rem(-2);
  }
}

.blog-card__text-sub {
  font-size: rem(16);
  font-weight: $regular;
  line-height: 1.5;
  font-family: Noto Sans JP;
  margin-top: rem(16);
}

.blog-card__img {
  max-width: rem(301);
}

.blog-card__img img {
  width: 100%;
  object-fit: cover;
  aspect-ratio: 301/201;
}

.blog-button-layout {
  margin-top: rem(42);
  display: flex;
  justify-content: center;

  @include mq("md") {
    display: flex;
    justify-content: center;
    padding-left: 0;
    margin-top: rem(81);
  }
}

.blog__cards {
  @include mq("md") {
    display: flex;
    gap: rem(40);
    margin-top: rem(78);
  }
}
.blog.section-title {
  @include mq("md") {
    background-image: none;
  }
}