@use "global" as *;

.blog__cards {
  // align-items: center;
  // display: grid;
  // grid-template-columns: repeat(1, 1fr);

  column-gap: rem(40);
  row-gap: rem(40);
  margin-top: rem(26);

  @include mq("md") {
    gap: rem(40);
    margin-top: rem(78);
    // grid-template-columns: repeat(3, 1fr);
  }
}
