@use "global" as *;

.blog-card__body {
  margin-top: rem(22);

  @include mq("md") {
    margin-top: rem(20);
  }
}

.blog-card__text {
  font-size: rem(16);
  font-weight: $medium;
  line-height: 1.5;
  font-family: Noto Sans JP;
  margin-top: rem(-3);
  border-bottom: rem(1) solid $green;
  padding-bottom: rem(3);

  @include mq("md") {
  margin-top: rem(-2);
  padding-bottom: rem(3);

  }
}

.blog-card__text-sub {
  font-size: rem(16);
  font-weight: $regular;
  line-height: 1.5;
  font-family: Noto Sans JP;
  margin-top: rem(16);
}

.blog-card__img img {
  width: 100%;
  object-fit: cover;
  aspect-ratio: 301/201;
}

.blog-card__date {
  font-size: rem(12);
  font-weight: $regular;
  line-height: 1.5;
  font-family: Gotu;
}