@use "global" as *;

.blog-card__text {
  font-size: rem(16);
  font-weight: $medium;
  line-height: 1.5;
  font-family: Noto Sans JP;
  margin-top: rem(-3);
  border-bottom: rem(1) solid $green;
  padding-bottom: rem(7);

  @include mq("md") {
  margin-top: rem(-2);
  padding-bottom: rem(3);

  }
}