@use "global" as *;


.blog-card__item-box {
  padding-top: rem(16);
  padding-left: rem(16);
  padding-right: rem(16);
  padding-bottom: rem(22);
  box-shadow: rem(2) rem(2) rem(10) rgba(0, 0, 0, 0.25);
  background-color: $white;
  align-self: stretch;

  @include mq("md") {
    margin-top: rem(0);
    padding-bottom: rem(24);
  }
}

.blog-card__item-box:hover {
  opacity: 0.9;
  transition: 0.3s;
}