@use "global" as *;

.campaign-card__body {
  padding-top: rem(16);
  padding-right: rem(17);
  padding-bottom: rem(17);
  padding-left: rem(16);
  display: flex;
  flex-direction: column;
  flex: 1;

  @include mq("md") {
    padding-top: rem(22);
    padding-right: rem(17);
    padding-bottom: rem(30);
    padding-left: rem(17);
  }
}