@use "global" as *;

.campaign-page-card__item {
  display: flex;
  flex-direction: column;
  width: 100%;
  // width: 74.5%;
  box-shadow: rem(2) rem(2) rem(10) rgba(0, 0, 0, 0.25);
  height: 100%;
  max-width: rem(280);
}

.campaign-page-cards {
  align-items: center;
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  column-gap: rem(40);
  row-gap: rem(40);
  margin-top: rem(26);
  margin-left: auto;
  margin-right: auto;

  @include mq("md") {
    gap: rem(40);
    margin-top: rem(78);
    grid-template-columns: repeat(2, 1fr);
  }
}

.campaign-page-container__inner {
  position: relative;
}

.campaign-page-container__inner::before {
  position: absolute;
  content: "";
  background: url(/assets/images/same-logo.svg) center center / contain no-repeat;
  width: rem(120);
  height: rem(55);
  bottom: 64%;
  left: calc(50% - min(46vw, rem(620)));
}

.campaign-page__tab-layout {
  margin-top: rem(48);
}

.campaign-page__tab-items {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  column-gap: rem(21);
  row-gap: rem(16);
}

.campaign-page__tab-item {
  justify-items: center;
  position: relative;
  border: solid rem(1) $green;
  display: flex;
  justify-content: center;
  padding: rem(6) 0;
  font-size: rem(14);
  font-weight: $regular;
  font-family: "Noto Sans JP", serif;
  cursor: pointer;
  color: $green;

}

.campaign-page__tab-item.is-color {
  color: $white;
  background-color: $green;
}

.campaign-page-contents-top {
  margin-top: rem(39);
}

.campaign-page-contents__inner {
  padding-right: rem(47);
  padding-left: rem(48);
  margin-left: auto;
  margin-right: auto;
}

.campaign-page-contents__items {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  column-gap: rem(40);
  row-gap: rem(40);
}

// .campaign-page-contents__item:not(:first-child) {
//   margin-top: rem(40);
// }

.pagination-top {
  margin-top: rem(78);
}

.pagination__inner {
  position: relative;
  width: 100%;
}


.pagination-nav {
  display: flex;
  justify-content: center;
  align-items: center;
  // gap: 0 rem(12);
  // list-style-type: none;
  // padding: 0;
}

.pagination-nav a {
  // box-sizing: border-box;
  // display: flex;
  // justify-content: center;
  // align-items: center;
  width: rem(38);
  height: rem(38);
  border: rem(1) solid $green;
  // border-radius: 1px;
  color: $green;
  padding: rem(7) rem(14);
  font-size: rem(16);
  margin: 0 rem(6);
  font-family: "Lato",  sans-serif;
}

.pagination-nav span {
  width: rem(38);
  height: rem(38);
  border: rem(1) solid $green;
  // border-radius: 1px;
  color: $white;
  padding: rem(7) rem(14);
  font-size: rem(16);
  font-family: "Lato",  sans-serif;
  margin: 0 rem(5);
}

.pagination-nav a:first-child {
  margin-right: rem(35);
  padding: rem(18);
}

.pagination-nav a:last-child {
  margin-left: rem(35);
  padding: rem(18);
}

// .pagination.pagination-nav.pagination__prev {
//   margin-left: 0;
//   margin-right: rem(38);
// }

// .pagination__prev {
//   margin-right: rem(38);
// }

.pagination__prev::before {
  border-right: rem(1) solid $green;
  border-top: rem(1) solid $green;
  content: '';
  display: inline-block;
  width: rem(11);
  height: rem(11);
  position: absolute;
  transform: rotate(-135deg);
  left: 8.5%;
  top: 35%;

}

.pagination__current {
  // margin-left: rem(28);
  background-color: $green;
  color: #fff;
  width: rem(40);
  height: rem(40);
  border: rem(1) solid $green;
  padding: rem(11) rem(14);
  margin: 0 rem(5);
}

// .pagination__next {
//   margin-left: rem(38);
//   margin-right: 0;
// }

.pagination__next::before {
  border-right: rem(1) solid $green;
  border-top: rem(1) solid $green;
  content: '';
  display: inline-block;
  width: rem(11);
  height: rem(11);
  position: absolute;
  transform: rotate(45deg);
  right: 8.5%;
  top: 35%;
}