@use "global" as *;

.campaign-card__price-old {
  font-size: rem(20);
  font-weight: $bold;
  text-decoration: line-through;
  text-decoration-color: $red;
  text-decoration-thickness: rem(3);
  font-family: "Lato", sans-serif;

  @include mq("md") {
    font-size: rem(24);
    line-height: 1;
  }
}