@use "global" as *;

.campaign__inner {
  padding-top: rem(38);
  position: relative;

  @include mq("md") {
    padding-top: rem(111);
  }
}

.campaign__inner.inner {

  @include mq("md") {
    padding-left: rem(25);
    padding-right: rem(25);
  }
}