@use "global" as *;

.campaign__inner {
  padding-top: rem(38);

  @include mq("md") {
    padding-top: rem(110);
  }
}

.campaign__inner.inner {
  padding-right: 0;
  padding-left: rem(13);

  @include mq("md") {
    padding-left: rem(25);
    padding-right: rem(25);
  }
}