@use "global" as *;

.campaign-top {
  width: 100%;
  overflow: visible;
  margin-top: rem(38);

  @include mq("md") {
    margin-top: rem(111);
  }
}

.campaign-swiper__container {
  position: relative;
}