@use "global" as *;

// .campaign {
//   width: 100%;
// }

// .campaign-card__img {
//   aspect-ratio: 280/188;
//   object-fit: cover;
//   width: 100%;
// }

// .campaign__cards {
//   display: grid;
//   margin-top: 10px;
//   grid-template-columns: repeat(4, 1fr);
//   // grid-template-columns: repeat(auto-fit,minmax(280px, 4fr));
//   row-gap: 50px;
//   // place-items: center;
//   gap: 20px;
//   margin-right: calc( 50% - 50vw);
//   width: 100vh;
// }

// .campaign-card__item {
//   max-width: rem(280);
//   display: inline-block;
// }

.campaign {
  width: 100%;
  overflow: visible;
}

.campaign.section-title {
  text-indent: -0.9rem;

  @include mq("md") {
    text-indent: -2rem;
  }
}

// .campaign-card__img img {
//   max-width: 100%; /* 画像の幅を親要素に合わせて変更します */
// }

  // .campaign-slider {
  //   overflow: visible;
  // }

.campaign-slider-wrapper {
  display: grid;
  margin-top: rem(10);
    grid-template-columns: repeat(4, 1fr);
  // grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
  row-gap: rem(50);
  gap: rem(24);
  margin-right: calc(50% - 50vw);
  width: 100vh;

  @include mq("md") {
    margin-top: rem(20);
    gap: rem(35.5);
  }
}

  .campaign-slider-slide {
    display: block; /* inline-block から block に変更 */
    // box-shadow: 0px 5px 15px 0px rgba(0, 0, 0, 0.35);
    margin-bottom: rem(10); /* 下側のマージンを追加 */
    // margin-right: 10px; /* 右側のマージンを追加 */
    margin-left: rem(1);
    min-width: rem(280);
    margin-top: rem(17);

    @include mq("md") {
      min-width: rem(334);
    }
  }

.campaign-card__item {
  display: inline-block;
  max-width: rem(280);
  width: 100%;
  // box-shadow: 3px 3px 8px 0px rgba(0, 0, 0, 0.06);
  // box-shadow: 0px 5px 15px 0px rgba(0, 0, 0, 0.35);
  box-shadow: rem(3) rem(3) rem(4) rem(0) rgba(29, 29, 29, 0.75);

  @include mq("md") {
    max-width: rem(334);
  }
}

.card-text__title {
  font-size: rem(12);
  color: $green;
  border: rem(1) solid $green;
  padding: rem(7) rem(12) rem(3.5) rem(12);
  max-width: rem(108);
  white-space: nowrap;
  // padding-top: 16px;

  @include mq("md") {
    padding: rem(7) 20px rem(3.5) 20px;
  max-width: 117px;

  }
}

.card-text__title-sub {
  margin-top: rem(7);
  font-weight: $medium;
}

.text-line {
  background-color: $green; /* 横線の色 */
  content: "";
  height: rem(1.5); /* 横線の高さ */
  margin-top: rem(4);
  flex-grow: 1;

  @include mq("md") {
    height: rem(1);
    margin-top: rem(7);
  }
}

.card__body {
  padding-top: rem(15);
  padding-right: rem(17);
  padding-bottom: rem(13);
  padding-left: rem(16);

  @include mq("md") {
    padding-top: rem(24);
    padding-right: rem(17);
    padding-bottom: rem(40);
    padding-left: rem(17);
  }
}

.card-price {
  margin-top: rem(11);
}

.card-price__text {
  font-size: rem(14);
  display: flex;
  align-items: center;
  justify-content: center;
}

.card-price-box {
  display: flex;
  justify-content: center;
  align-items: baseline;
  // margin-top: 2px;
  font-family: Lato;
}


.card-price__new {
  font-size: rem(32);
  font-weight: $bold;
  color: $green;
  margin-left: 18px;
}

.card-price__old-strike-through {
  font-size: rem(20);
  font-weight: $bold;
  text-decoration: line-through; /* 打ち消し線を設定します */
  text-decoration-color: $red; /* 打ち消し線の色を赤色に設定します */
  text-decoration-thickness: rem(3); /* 打ち消し線の太さを2pxに設定します */
}