@use "global" as *;

.campaign-card-price__old-strike-through {
  font-size: rem(20);
  font-weight: $bold;
  text-decoration: line-through; /* 打ち消し線を設定します */
  text-decoration-color: $red; /* 打ち消し線の色を赤色に設定します */
  text-decoration-thickness: rem(3); /* 打ち消し線の太さを2pxに設定します */

  @include mq("md") {
    font-size: rem(24);
    line-height: 1;
  }
}