@use "global" as *;

.campaign-button-layout {
  margin-top: rem(30);
  display: flex;
  justify-content: center;

  @include mq("md") {
    display: flex;
    justify-content: center;
    padding-left: 0;
    margin-top: rem(70);
  }
}