@use "global" as *;

.campaign-card-price__text {
  font-size: rem(14);
  font-weight: $regular;
  font-family: "Noto Sans JP", serif;
  text-align: center;

  @include mq("md") {
    font-size: rem(16);
    text-align: center;
  }
}