@use "global" as *;

.campaign {
  width: 100%;
  overflow: visible;
}


  .campaign-slider {
    box-sizing: content-box;
    padding-right: calc((100vw - 100%) / 2);
    width: 100%;
    margin-top: 10px;
    position: relative;

    @include mq("md") {
      margin-top: 22px;
    }
  }

  .campaign-slider-slide {
    display: block; /* inline-block から block に変更 */
    margin-bottom: rem(10); /* 下側のマージンを追加 */
    width: rem(280);
    margin-top: rem(17);
  }

.campaign-card__item {
  display: block;
  width: 100%;
  box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.25);
}

.card-text__title {
  font-size: rem(12);
  color: $green;
  border: rem(1) solid $green;
  padding: rem(7) rem(10) rem(3.5) rem(12);
  max-width: rem(108);
  white-space: nowrap;
  box-sizing: border-box;
  overflow: hidden;
  max-width: 100%;
  display: inline-block;

  @include mq("md") {
  padding: 8px 15px 5px 14px;
  }
}

.card-text__title-sub {
  font-weight: $medium;
}

.text-line {
  background-color: $green; /* 横線の色 */
  content: "";
  height: rem(1.5); /* 横線の高さ */
  margin-top: rem(4);
  flex-grow: 1;

  @include mq("md") {
    height: rem(1);
  }
}

.card__body {
  padding-top: rem(15);
  padding-right: rem(17);
  padding-bottom: rem(15  );
  padding-left: rem(16);

  @include mq("md") {
    padding-top: rem(22);
    padding-right: rem(17);
    padding-bottom: rem(30);
    padding-left: rem(17);
  }
}

.card-price {
  margin-top: 10px;

  @include mq("md") {
    margin-top: rem(19);
  }

}

.card-price__text {
  font-size: rem(14);
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: $regular;

  @include mq("md") {
    font-size: 16px;
  }
}

.card-price-box {
  display: flex;
  justify-content: center;
  align-items: baseline;
  font-family: Lato;
}


.card-price__new {
  font-size: rem(32);
  font-weight: $bold;
  color: $green;
  margin-left: 18px;

  @include mq("md") {
    font-size: rem(40);
    margin-top: -5px;
    margin-left: 27px;
  }
}

.card-price__old-strike-through {
  font-size: rem(20);
  font-weight: $bold;
  text-decoration: line-through; /* 打ち消し線を設定します */
  text-decoration-color: $red; /* 打ち消し線の色を赤色に設定します */
  text-decoration-thickness: rem(3); /* 打ち消し線の太さを2pxに設定します */

  @include mq("md") {
    font-size: 24px;
    line-height: 1;
  }
}

/* 前へ次への矢印カスタマイズ */
.campaign-swiper__button-prev,
.campaign-swiper__button-next {
  display: none; /* 初期状態では非表示 */

  @include mq("md") {
    width: 80px;
    height: 80px;
    display: block;
  }
}

/* 矢印の擬似要素カスタマイズ */
.campaign-swiper__button-prev::after,
.campaign-swiper__button-next:after {
  background-repeat: no-repeat;
  background-size: contain;
  content: "";
  height: 80px;
  margin: auto;
  width: 80px;
}

/* 前への矢印カスタマイズ */
.campaign-swiper__button-prev::after {

  @include mq("md") {
  background-image: url(/assets/images/arrow1.svg);
  width: 80px;
  display: block;
  position: absolute;
  bottom: 610%;
  left: calc(50% - min(48vw, rem(131)));
  }
}

/* 次への矢印カスタマイズ */
.campaign-swiper__button-next:after  {

  @include mq("md") {
  background-image: url(/assets/images/arrow2.svg);
  width: 80px;
  display: block;
  position: absolute;
  bottom: 610%;
  left: calc(50% - min(48vw, rem(-27)));
  }
}


.campaign-swiper__button-box {
  display: flex;
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(130%, -90%);
  max-width: 240px;
}
