@use "global" as *;

/* 前へ次への矢印カスタマイズ */
.campaign__container-button-prev,
.campaign__container-button-next {
  display: none;

  @include mq("md") {
    width: rem(80);
    height: rem(80);
    display: block;
  }
}

.campaign__container-button-prev:hover,
.campaign__container-button-next:hover {
  opacity: 0.7;
  transition: 0.3s;
  cursor: pointer;
}

/* 前への矢印カスタマイズ */
.campaign__container-button-prev::after {

  @include mq("md") {
  background-repeat: no-repeat;
  background-size: contain;
  content: "";
  background-image: url(/assets/images/arrow1.svg);
  width: rem(80);
  height: rem(80);
  display: block;
  top: 0;
  }
}

/* 次への矢印カスタマイズ */
.campaign__container-button-next:after  {

  @include mq("md") {
  background-repeat: no-repeat;
  background-size: contain;
  content: "";
  background-image: url(/assets/images/arrow2.svg);
  width: rem(80);
  height: rem(80);
  display: block;
  top: 0;
  }
}
