@use "global" as *;

.contact__inner.inner {
  padding-left: rem(30);
  padding-right: rem(30);
  margin-left: auto;
  margin-right: auto;
  padding-top: rem(80);
  padding-bottom: 105px;

  @include mq("md") {
    padding-top: 143px;
    padding-left: rem(25);
    padding-right: rem(25);
    padding-bottom: 160px;
    }
  }

  .contact__logo-layout {
    display: flex;
    justify-content: center;
    @include mq("md") {
      display: block;
      padding-left: 120px;
      padding-right: 120px;
    }
  }

  .contact__logo {
    max-width: 174px;
    @include mq("md") {
      max-width: 200px;
    }
  }

  .contact-text-line {
    background-color: $green; /* 横線の色 */
    content: "";
    height: rem(1.5); /* 横線の高さ */
    margin-top: rem(5);
    flex-grow: 1;

    @include mq("md") {
      height: rem(1);
      margin-top: rem(7);
    }
  }

  .contact__container {

    @include mq("md") {
      display: flex;
      box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.25);
      padding: 80px 112px 80px 50px;
      justify-content: space-between;
    }
  }

  .contact__box {
    max-width: 295px;
    margin-left: auto;
    margin-right: auto;

    @include mq("md") {
      margin-left: 0;
      margin-right: 0;
      max-width: 440px;
      width: 100%;
    }
  }

  .contact-information {
    margin-top: 16px;

    @include mq("md") {
      display: flex;
      margin-top: 24px;
    }
  }

  .contact-information__items {
    text-align: center;

    @include mq("md") {
      text-align: left;
    }

  }

  .contact-information__item:not(:first-child) {
    margin-top: 4px;
  }

  .contact-information__item-text {
    font-size: 16px;
    line-height: calc(24/16);
    font-weight: $regular;
    font-family: Noto Sans JP;
  }

  .contact__img {
    // max-width: 295px;
    width: 295px;
    height: 160px;
    margin-top: 16px;

    @include mq("md") {
      // max-width: 273px;
      width: 273px;
      height: 148px;
      margin-top: 0;
      margin-left: 25px;
    }

  }

  .contact__img img {
    width: 100%;
    object-fit: cover;
    aspect-ratio: 295/160;
  }

  .contact-section-title__text {
    color: $green;
    font-size: 14px;
    line-height: calc(18/14);
    font-weight: $regular;
    font-family: Noto Sans JP;
    margin-top: 7px;
  }

  .contact-button-layout {
    margin-top: 39px;
    // padding-left: rem(68);
    display: flex;
    justify-content: center;

    @include mq("md") {
      display: flex;
      justify-content: center;
      padding-left: 0;
      margin-top: rem(40);
    }
  }

  .contact.section-title {
    margin-top: 16px;

    @include mq("md") {
      margin-top: 5px;
      max-width: 315px;
    }
  }



  .contact__inner {
    position: relative;
  }

  // .contact__inner::before {
  //   position: absolute;
  //   content: "";
  //   background: url(/assets/images/prco-logo.svg) center center / contain no-repeat;
  //   width: rem(109);
  //   height: rem(50);
  //   // bottom: rem(130);
  //   bottom: 87.5%;
  //   right: 4%;
  //   // right: calc(50% - min(48vw, 600px));

  //   @include mq("md") {
  //     width: 301px;
  //     height: 138px;
  //     bottom: 66.4%;
  //     right: calc(50% - min(48vw, 669px));
  //   }

  // }

  .contact__inner::after {
    position: absolute;
    content: "";
    width: rem(109);
     height: rem(50);
    right: calc(50% - min(48vw, rem(172.5)));
    top: rem(-24);
    background: url(/assets/images/prco-logo.svg) center center / contain no-repeat;

    @media (orientation: landscape) and (max-width: 767px) {
     right: calc(52% - min(44vw, rem(650))); }

    @include mq("md") {
    width: rem(301);
    height: rem(138);
    right: calc(50% - min(48vw, rem(670)));
    top: rem(102);
   }
  }

  .top-button-img {
    width: 48px;
    height: 48px;

    @include mq("md") {
      width: 80px;
      height: 80px;
    }
  }

  .contact__top-button {
    position: absolute;
    content: "";
    // right: 3.8%;
    right: calc(50% - min(48vw, rem(620)));
    bottom: 2%;

    @include mq("md") {
    bottom: 3%;
    // right: -12%;
    right: calc(50% - min(49vw, rem(700)));


    }
  }

  .contact__title-layout {

    @include mq("md") {
      padding-left: 81px;
      border-left: 1px solid $green;
    }
  }