@use "global" as *;

  .contact__title-text {
    color: $green;
    font-size: rem(14);
    line-height: calc(18/14);
    font-weight: $regular;
    font-family: Noto Sans JP;
    margin-top: rem(7);
    text-align: center;
  }