@use "global" as *;

  .contact__logo-layout {
    display: flex;
    justify-content: center;
    @include mq("md") {
      display: block;
      padding-left: ren(120);
      padding-right: rem(120);
    }
  }