@use "global" as *;

  .top-button-img {
    width: rem(48);
    height: rem(48);

    @include mq("md") {
      width: rem(80);
      height: rem(80);
    }
  }

  .contact__top-button {
    position: absolute;
    content: "";
    right: calc(50% - min(48vw, rem(172)));
    bottom: 2%;

    @include mq("md") {
    bottom: -34%;
    right: calc(50% - min(49vw, rem(700)));
    }
  }

  .contact__top-button:hover {
    opacity: 0.7;
    transition: 0.3s;
    cursor: pointer;
  }