@use "global" as *;

.drawer-menu__container {
  display: flex;
  justify-content: center;
  padding-top: rem(80);
}

.drawer-menu__container-left,
.drawer-menu__container-right {
  width: 50%;
  max-width: rem(200); /* 必要に応じて適切な幅を指定してください */
}

.drawer-menu__item-text {
  white-space: nowrap; /* テキストを折り返さないようにする */
}