@use "global" as *;

.drawer-menu__items-a {
  max-width: rem(166);
  width: 100%;
  padding-left: rem(22);
  margin-top: rem(15);
}

.drawer-menu__items-b {
  max-width: rem(166);
  width: 100%;
  padding-left: rem(22);
  margin-top: rem(16);
}