@use "global" as *;

.footer-menu__container-right {
  margin-left: 18px;
  display: grid;
  width: 50%;
  max-width: rem(200);

  @include mq("md") {
    display: flex;
    max-width: 436px;
    justify-content: space-between;
    margin-left: 103px;
  }
}
