@use "global" as *;

.footer__container {
  display: flex;
  justify-content: space-around;

  @include mq("md") {
    margin-top: rem(12);
    white-space: nowrap;
    column-gap: rem(120);
    justify-content: initial;
  }
}

