@use "global" as *;

.footer-menu__logo-text {
  font-size: rem(16);
  color: $white;
  font-weight: $bold;
  text-align: left;
  line-height: 1.125;
  font-family: "Noto Sans JP", serif;
}

.footer-menu__logo-text:hover {
  opacity: 0.7;
  transition: 0.3s;
}