@use "global" as *;

.footer__facebook-logo {
  display: block;
  width: rem(24);
  height: rem(24);

  @include mq("md") {
    width: rem(32);
    height: rem(32);
  }
}

.footer__facebook-logo:hover {
  opacity: 0.7;
  transition: 0.3s;
}