@use "global" as *;

.footer__name-layout {
  display: flex;
  align-items: center;
}

.footer__name-logo {
  width: rem(120);

  @include mq("md") {
    width: rem(200);
  }
}

.footer__name-logo:hover {
  opacity: 0.7;
  transition: 0.3s;
}

