@use "global" as *;

.header {
  position: fixed;
  z-index: 1000;
  top: 0;
  left: 0;
  width: 100%;
  height: rem(80);
  border-right-color: transparent;
  background-color: rgba(13, 41, 54, 0.68);
  transition: 0.3s;

  @include mq("md") {
    height: rem(90);
  }
}

.header.is-scroll {
  background-color: $gray;
  transition: 0.3s;
  opacity: 1;
}