@use "global" as *;

.header__link {
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;
  color: $white;
  font-size: rem(10);
  font-weight: $regular;
  padding-left: rem(20);
  padding-right: rem(20);
  height: inherit;
  align-items: center;
  white-space: nowrap;
  position: relative;
}

.header__link span {
  color: $white;
  font-size: rem(18);
  white-space: nowrap;
  font-family: "Gotu", sans-serif;
}


.header__link:hover::after {
    transform: scale(1, 1);
}