@use "global" as *;

.header__inner {
  display: flex;
  align-items: center;
  height: rem(80);
  border-bottom: rem(1) solid $black;
  justify-content: space-between;
  padding-right: rem(20);

  @include mq("md") {
    height: rem(90);
    padding-left: rem(25);
   padding-right: rem(40);
    margin-right: rem(1);
    border-bottom: none;
  }
}