@use "global" as *;


.header__item {
  height: inherit;
  color: $white;
}

.header__item a:hover{
  color: $white;
}

.header__item a::after {
  content: '';
  position: absolute;
  bottom: rem(15);
  left: 10%;
  width: 80%;
  height: rem(1);
  background: $white;
  transition: all .3s;
  transform: scale(0, 1);
  transform-origin: center top;
}