@use "global" as *;

.header__name-layout {
  padding-left: rem(15);
  padding-right: rem(15);
  height: inherit;
  display: flex;
  align-items: center;
  z-index: 5000;

  @include mq("md") {
    padding-left: ren(40);
  }
}

