@use "global" as *;

.information__text-line {
  background-color: $green;
  content: "";
  height: rem(1.5);
  margin-top: rem(1);

  @include mq("md") {
    height: rem(1);
    margin-top: rem(7);
  }
}
