@use "global" as *;

.information__inner.inner {
padding-left: rem(15);
padding-right: rem(15);
margin-left: auto;
margin-right: auto;
padding-top: rem(78);
padding-bottom: rem(84);

@include mq("md") {
  padding-top: 90px;
  padding-left: rem(23);
  padding-right: rem(25);
  padding-bottom: rem(74);
  margin-top: -74px;
  }
}