@use "global" as *;

.information__box-title {
  font-size: rem(20);
  font-family: "Noto Sans JP", serif;
  font-weight: $bold;

  @include mq("md") {
    font-size: rem(24);
    line-height: 1;
  }
}