@use "global" as *;

.information__box {
  margin-top: rem(20);

  @include mq("md") {
    max-width: rem(492);
    width: 100%;
    margin-left: rem(48);
    margin-top: 0;
    padding-top: rem(60);
  }
}