@use "global" as *;

.information {
  width: 100%;
  background-color: $green2;
  margin-top: rem(78);

  @include mq("md") {
    margin-top: rem(164);
  }
}

.information__container {
  @include mq("md") {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: rem(39);
  }
}