@use "global" as *;

.mv-campaign {
  width: 100%;
  height: rem(460);
  background-image: url(/assets/images/campaign-page-sp-img.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  @include mq("md") {
    height: rem(548);
    background-image:  url(/assets/images/campaign-page-pc-img.jpg);
  }
}

.mv-campaign__inner {
  position: relative;
  width: 100%;
  height: inherit;
}

// .mv-campaign-title {
//   position: absolute;
//   top: 50%;
//   left: 50%;
//   transform: translate(-50%, -50%);

//   @include mq("md") {
//     top: 59%;
//   }

// }

// .mv-campaign-title__main {
//   font-size: rem(40);
//   font-weight: $regular;
//   // letter-spacing: 0.05em;
//   color: $white;
//   font-family: Lato;

//   @include mq("md") {
//     font-size: rem(80);
//     line-height: calc(100/80);
//   }

// }