@use "global" as *;

.mv__title-sub {
  font-size: rem(40);
  letter-spacing: 0.52em;
  color: $white;
  text-align: center;
  text-indent: 1.4rem;
  font-weight: $regular;
  font-family: "Lato", sans-serif;

  @include mq("md") {
    font-size: rem(80);
    text-align: center;
    text-indent: 2.6rem;
    letter-spacing: 0.53em;
  }
}