@use "global" as *;

.mv__title-sub {
  font-size: rem(40);
  // font-weight: $bold;
  // line-height: 1;
  letter-spacing: 0.52em;
  color: $white;
  text-align: center;
  text-indent: 1.4rem;
  font-family: Lato;
  font-weight: $regular;

  @include mq("md") {
    font-size: 80px;
    text-align: center;
    text-indent: 2.6rem;
    letter-spacing: 0.53em;
  }
}