@use "global" as *;

  .price-item__text-sub {
    font-size: rem(14);
    font-weight: $regular;
    line-height: calc(24/14);
    font-family: Noto Sans JP;
    margin-top: rem(8);
    width: 20%;
    text-align: right;

    @include mq("md") {
      font-size: rem(16);
      line-height: calc(24/16);
      display: block;
      float: left;
      width: 11.3%;
    }
  }