@use "global" as *;

  .price__img-pc {

    @include mq("md") {
      max-width: rem(492);
      margin-left: rem(93);
      margin-top: rem(-1);
    }
  }

  .price__img-pc img {

    @include mq("md") {
      width: 100%;
      object-fit: cover;
      aspect-ratio: 492/746;
    }
  }