@use "global" as *;

  .voice__cards {
    display: grid;
    grid-template-columns: repeat(1, 1fr);


    @include mq("md") {
      margin-top: rem(26);
      grid-template-columns: repeat(2, 1fr);
      column-gap: rem(40);
      row-gap: rem(40);
    }
  }