@use "global" as *;

  .voice-card__title-text {
    font-size: rem(16);
    font-weight: $medium;
    margin-top: rem(-3);
    border-bottom: rem(1) solid $green;


    @include mq("md") {
      font-size: rem(24);
      margin-top: rem(13);
      line-height: 1.4;
    }
  }