@use "global" as *;

.accordion {
  width: 100%;
}

.accordion__title {
  position: relative;
  font-size: rem(16);
  font-weight: $normal;
  padding: rem(16) rem(20);
  cursor: pointer;
  color: $white;
  background-color: $green;
  font-family: "Noto Sans JP", serif;
}

.accordion__title::after {
  position: absolute;
  top: 40%;
  right: 25px;
  display: block;
  width: rem(28);
  height: rem(1);
  content: "";
  transition: transform 0.3s ease-in-out, top 0.3s ease-in-out;
  // transform: rotate(135deg);
  border-top: rem(1) solid $white;
}

.accordion__title.is-open::after {
  top: 45%;
  transform: rotate(-45deg);
}

.accordion__content {
  display: none;
  padding: 10px 20px;
  border-right: 1px solid #000;
  border-bottom: 1px solid #000;
  border-left: 1px solid #000;
}

.accordion__text {
  font-size: 12px;
}