@use "global" as *;

.blog-heading-cards {
  grid-column-gap: rem(40);
  grid-row-gap: rem(24);
  // column-gap: rem(40);
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  margin-top: rem(26);
  // row-gap: rem(40);
  align-items: center;

  @include mq("md") {
    gap: rem(40);
    grid-template-columns: repeat(3, 1fr);
    margin-top: rem(78);
  }
}