@use "global" as *;

.blog-detail-card {
  align-self: stretch;
  background-color: #fff;
}

.blog-detail-card__date {
  font-size: rem(14);
  font-weight: $normal;
  line-height: 1.5;
  font-family: Gotu;
}

.blog-detail-card__text {
  border-bottom: rem(1) solid $green;
}