@use "global" as *;

.blog-detail-card {
  align-self: stretch;
  background-color: #fff;
}

.blog-page-detail-cards__item-container:hover {
  cursor: pointer;
}

.blog-page-detail-cards__item-container:hover .blog-page-detail-cards__item-container figure img {
  transform: scale(1.1);
  transition: .3s ease-in-out;
}



.blog-page-detail-cards__item-container__text {
  font-size: rem(24);
  font-weight: $medium;
  line-height: 1.5;
  font-family: Noto Sans JP;
  margin-top: rem(4);
  border-bottom: rem(1) solid $green;
  padding-bottom: rem(3);

  @include mq("md") {
    font-size: rem(32);
    margin-top: rem(4);
    padding-bottom: rem(0);
    line-height: 1.45;
  }
}

.blog-page-detail-cards__item-container p {
  font-size: rem(16);
  font-weight: $normal;
  line-height: 1.5;
  font-family: "Noto Sans JP", serif;
  margin-top: rem(24);

  @include mq("md") {
    letter-spacing: 0.005em;
    margin-top: rem(40);
  }
}


.blog-page-detail-cards__item-container figure {
  transform: scale(1);
  transition: .3s ease-in-out;
  overflow: hidden;
  width: 100%;
  object-fit: cover;
  aspect-ratio: 301/201;
}

.blog-page-detail-cards__item-container figure {
  margin-top: rem(24);

  @include mq("md") {
    margin-top: rem(39);
  }
}

// .blog-page-detail-cards__item-container figure:nth-child(2) {
//   margin-top: rem(24);

// }

.blog-page-detail-cards__item-container figure:hover img {
  transform: scale(1.1);
  transition:1s all;
}

.blog-page-detail-cards__item-container figure img {
  width: 100%;
  object-fit: cover;
  aspect-ratio: 301/201;
}

.blog-detail-card__date {
  font-size: rem(14);
  font-weight: $normal;
  line-height: 1.5;
  font-family: Gotu;
}

.blog-detail-card__text {
  border-bottom: rem(1) solid $green;
}