@use "global" as *;

// .button-layout {
//   display: flex;
//   justify-content: center;
//   align-items: center;
//   // margin-top: 19px;
//   text-decoration: none;
//   outline: none;
//   /*アニメーションの指定*/
//   transition: all .3s;

//   @include mq("md") {
//     padding-bottom: 120px;
//   }
// }

.button {
  display: flex;
  justify-content: space-between;
  text-align: center;
  text-decoration: none;
  position: relative;
  width: rem(206);
  margin: auto;
  padding: 1rem 2rem;
  color: $white;
  background-color: $green;
  font-size: rem(14);
  line-height: calc(22/14);
  transition: .2s cubic-bezier(0.45, 0, 0.55, 1);
	// transition: width 0.3s ease-in-out, background-color 0.3s ease-in-out;
	transform-origin: left top;
	height: rem(54);
	// transform: scale(0, 1);
}

.button::before {
  content: '';
  position: absolute;
  top: rem(4);
  left: rem(4);
  border: rem(1) solid $green;
  width: rem(206);
  height: rem(54);
  z-index: -1;
  // transition: width 0.3s ease-in-out, background-color 0.3s ease-in-out;
	// transition: width 0.2s ease-out, background-color 0.2s ease-out; /* より速いアニメーション */
}

.button:hover::after {
  transform: scale(1, 1);
}

.button:hover span {
	color: $white; /* span要素内のテキストカラーを白に変更 */
}

.button::after {
	content: '';
	position: absolute;
	top: 50%;
	right: 2.72rem;
	transform: translateY(-50%);
	width: rem(40);
	height: rem(1);
	background-color: $white;
}

.button:hover::after {
	background-color: $green;
}

.button-arrow {
  position: absolute;
  top: 50.5%;
  right: rem(10);
  width: rem(7);
  // height: 7px;
  margin-top: -4px;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
  border-top: rem(1) solid $white;
  border-right: rem(1) solid $white;
  content: "";
  display: inline-block;
  vertical-align: middle;
  margin-right: rem(33);

  @include mq("md") {
    margin-right: rem(32);
    width: rem(9);
    // height: 9px;
    // top: 52%;
  }
}

.button:hover .button-arrow {
  border-right: rem(1) solid $green;
  border-top: rem(1) solid $green;

}





.button:hover::before {
  // width: 100%;
  background-color: $white;
	top: 3px;
	left: 3px;
}

.button:hover {
  color: $green;
  background-color: $white;
  border: 0.0625rem solid $green;
}


