@use "global" as *;

.contact-page-top {
  margin-top: rem(51);
}

.contact-page__inner {
  position: relative;
  max-width: rem(600);
}

.contact-page__inner::before {
  position: absolute;
  content: "";
  background: url(./../images/same-logo.svg) center center / contain no-repeat;
  width: rem(120);
  height: rem(55);
  bottom: 99.4%;
  left: calc(50% - min(46vw, rem(620)));
  z-index: 1;

  @include mq("md") {
    width: rem(301);
    height: rem(138);
    bottom: 97.5%;
    z-index: -1;
  }
}

.contact-form__label {
  padding-bottom: rem(24);
  border-bottom: rem(1) dashed $green;
}

.contact-form__label:not(:first-child) {
  margin-top: rem(27);
}

.contact-form__label dt {
  font-size: rem(16);
  font-weight: $bold;
  font-family: "Noto Sans JP", serif;
  line-height: 1;
}

.contact-form__label span {
  font-size: rem(12);
  font-weight: $normal;
  background-color: $red;
  color: $white;
  // line-height: 1;
  padding-top: rem(3);
  padding-right: rem(11);
  padding-bottom: rem(1);
  padding-left: rem(16);
  margin-left: rem(7);
  letter-spacing: 0.4em;
}

.contact-form__label-contact {
  margin-top: rem(26);
  padding-bottom: rem(20);
  border-bottom: rem(1) dashed $green;
}

.contact-form__label-contact dt {
  font-size: rem(16);
  font-weight: $bold;
  font-family: "Noto Sans JP", serif;
  line-height: 1;
}

.contact-form__label-contact span {
  font-size: rem(12);
  font-weight: $normal;
  background-color: $red;
  color: $white;
  // line-height: 1;
  padding-top: rem(3);
  padding-right: rem(11);
  padding-bottom: rem(1);
  padding-left: rem(16);
  margin-left: rem(7);
  letter-spacing: 0.4em;
}

.contact-form__inputs-text {
  margin-top: rem(20);
  border: rem(1) solid $green;
  width: 100%;
  padding-top: rem(9);
  padding-bottom: rem(5);
  padding-left: rem(16);
}

.contact-form__inputs-text::placeholder {
  color: $green2;

}

.contact-form__check-box:not(:first-child) {
  margin-top: rem(4);
}

.contact-form__container {
  padding-left: rem(22);
  margin-top: rem(21);
  letter-spacing: 0.02em;
}

.contact-form__check-label {
  position: relative;
  display: block;
}

.contact-form__check-label::before {
  position: absolute;
  content: "";
  width: rem(14);
  height: rem(14);
  border: rem(1) solid $green;
  left: rem(-22);
  top: rem(4);
  display: block;
}

.contact-form__check-label::after {
  position: absolute;
  content: "";
  border-bottom: rem(2) solid $red;
  border-left: rem(2) solid $red;
  height: rem(5);
  left: rem(-20);
  margin-top: rem(7);
  opacity: 0;
  top: rem(0);
  transform: rotate(-45deg);
  width: rem(9);
  display: block;
}

input[type="checkbox"]:checked + .contact-form__check-label::after {
  opacity: 1;
}

// .select {
//   display: inline-block;
//   position: relative;
//   border: rem(1) solid $green;
//   vertical-align: middle;
// }

.contact-form__select {
  margin-top: rem(20);
  display: inline-block;
  position: relative;
  border: rem(1) solid $green;
  width: 100%;
  padding: rem(10) rem(8);
  font-size: rem(12);
  font-weight: $normal;
  cursor: pointer;
}

.contact-form__select select {
  width: 100%;
  cursor: pointer;
}

.contact-form__select::before {
  position: absolute;
  top: rem(10);
  right: rem(8);
  width: 0;
  height: 0;
  border-width: rem(10) rem(5) 0 rem(5);
  border-style: solid;
  border-color: $green transparent transparent transparent;
  content: "";
}

.form-textarea {
  width: 100%;
  padding: 10px;
  height: 200px;
  border: 1px solid $green;
}

// .select::-ms-expand {
//   display: none;
// }

// .contact-form__inputs-text:first-child {
//   margin-top: rem(16);
// }

// .contact-form__inputs-text:not(:first-child) {
//   margin-top: rem(14);
// }
// form {
//   width: 70%;
//   margin: 0 auto;
// }

// .form-row:last-child {
//   border-bottom: none;
// }
// .form-label {
//   display: flex;
//   align-items: center;
//   width: 250px;
// }
// .form-label label {
//   font-weight: bold;
// }
// .form-label span {
//   margin-left: 10px;
//   padding: 2px 6px;
//   font-size: 12px;
//   font-weight: $normal;
//   color: $white;
//   background-color: $red;
// }
