@use "global" as *;

.section-title__sub {
  font-size: rem(32);
  line-height: 1.4;
  font-family: "Gotu", sans-serif;

  @include mq("md") {
    font-size: rem(40);
  }
}

.section-title__sub::first-letter {
  color: $green; /* 先頭の文字の色を変更 */

  @include mq("md") {
    color: $white;
  }
}