@use "global" as *;

.section-title__main-white {

    font-size: rem(32);
    line-height: 1.4;
    color: $white;
    font-family: "Gotu", sans-serif;

    @include mq("md") {
      font-size: rem(40);
    }
  }
