@use "global" as *;

.section-title__sub--white {

    font-size: rem(32);
    line-height: 1.4;
    color: $black;
    font-family: "Gotu", sans-serif;

    @include mq("md") {
      font-size: rem(40);
      color: $white;
    }
  }

  .section-title__sub--white::first-letter {

    @include mq("md") {
      color: $white;
    }
  }
