@use "global" as *;

.section-title__main-large {
  font-size: rem(80);
  line-height: 1.4;
  margin-bottom: rem(-25);
  font-weight: $regular;
  font-family: "Gotu", sans-serif;

  @include mq("md") {
    font-size: rem(80);
  }
}

.section-title__main-large::first-letter {
  color: $green;
}
