@use "global" as *;

.section-title__main {
  font-size: rem(32);
  letter-spacing: 0.01em;
  line-height: 1.4;

  @include mq("md") {
    font-size: rem(40);
  }
}

.section-title__main::first-letter {
  color: $green; /* 先頭の文字の色を変更 */
}